h1 {

	color: black;
	padding: 50px;
	margin: 25px;
	font-size: 86px;
	font-family: 'Bahiana', cursive;
}

p {

	font-size: 35px;
	color: black;
	font-family: 'Bahiana', cursive;
	padding: 15px;
	margin: 25px 15px 25px 15px;

}

#Nav {

	font-size: 20px;
	color: black;
	font-family: 'Bahiana', cursive;
	padding: 0px;
	margin: 5px 5px 10px 5px;	

}

#wrapper {

	background-image: url("../images/background.jpg");
	background-size: 100% 100%;
    /*background-position: center;*/

}

#picColumn {
	
	text-align: center;
	/*margin-right: 50px;*/
	/*margin-left: 50px;*/
	display: inline-block;
	margin-bottom: 50px;
	
}

#footer {

	margin: 110px;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  display: inline-block;

}

#crystalWrapper {

	position: absolute;
}

/*#numberToGuess, #playerCounter, #playerWins, #playerLosses{*/

	/*font-size: 20px;*/
	/*color: black;*/
/*}*/